@import '~bootstrap/scss/bootstrap';
.cursor-pointer {
  cursor: pointer;
}
.margin-auto {
  margin: auto;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.text-black {
  color: black;
}

.page-center {
  display: flex;
  height: 100vh;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.logo-img{
  width: 50%;
  margin-bottom: 10px;
}